<div class="container">
	<div class="top-cont">
		<div class="left-cont">
			<button class="button-121" (click)="handleOnClickBtn121()">Button_121</button>
		</div>
		<div>
			
			<div class="form-group">
				<label>Label2</label>
				<input type="text" class="label" [(ngModel)]="label2">
			</div>

			<div class="form-group">
				<label>Label3</label>
				<input class="label" type="text" [(ngModel)]="label3">
			</div>

			<div class="form-group">
				<label>Label4</label>
				<input class="label" type="text" [(ngModel)]="label4">
			</div>

			<button class="btn-process" (click)="process()">Process</button>
		</div>
	</div>

	<div class="result-table">
		<table matSort (matSortChange)="sortData($event)">
			<tr class="thead">
				<th *ngFor="let th of columns;let i = index" [mat-sort-header]="th">{{th}}</th>
			</tr>
			<tr *ngFor="let row of rows;let i = index" id="tr-{{i}}" [ngClass]="getTrClass(row)" (click)="clickRow(row,i)" (dblclick)="doubleClickRow(row,i)">
				<td *ngFor="let td of row | keyvalue">{{td.value}}</td>
			</tr>
		</table>	
	</div>

</div>


<div class="modal" id="modal">
	<h3 class="message-header">Message</h3>
	<div class="body">
		<h3 *ngIf="message != ''">{{message}}</h3>

		<div *ngIf="selectedRow">
			<div class="message-tr" *ngFor="let data of selectedRow | keyvalue">
				{{data.key}}&nbsp;&nbsp;{{data.value}}
			</div>
		</div>

		<div *ngIf="processClicked">
			<div>{{label2}}</div>
			<div>{{label3}}</div>
			<div>{{label4}}</div>
		</div>
	</div>

	<div class="close">
		<button (click)="closeMessage()">Close</button>
	</div>
</div>